<div id="<%= dom_id activity %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= activity.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Instructions:</strong>
    <%= activity.instructions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Submission confirmation:</strong>
    <%= activity.submission_confirmation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Points:</strong>
    <%= activity.points %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= activity.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this activity", activity, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this activity', edit_activity_path(activity), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
